// Your variable overrides
$primary: hsl(171, 100%, 41%);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Ailerons;
  src: url("/fonts/Ailerons-Typeface.otf") format("opentype");
}

section {
  border-bottom: 1px solid lightgray;
}

nav {
  .navbar-brand {
    font-size: 30px;
    font-family: 'Ailerons', serif;
    .logo {
      height: 28px;
      margin-right: 8px;
    }
  }
}

.features {
  align-items: center;
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    .description {
      max-width: 300px;
    }
    .icon {
      height: 70px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
    }
  }
}

.what-is-it {
  .diagram {
    width: 100%;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  .contact {
    border-radius: 50%;
    padding: 20px;
    margin-right: 10px;
  }
}

.bmc-button img {
  height: 34px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  padding: 7px 10px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  min-width: 217px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 10px 7px 10px !important;
  font-size: 22px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Arial', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #FFFFFF !important;
}